html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

.banner {
  grid-area: banner;
}

img {
  display: block;
  width: 100%;
  padding: 0;
}

header {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  grid-area: banner;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
  padding: 1rem;
}

nav a {
  color: #3783a3;
}

main {
  margin: 0;
  padding: 0;
}

.intro i {
  font-size: 2rem;
  align-content: center;
  padding: 1rem;
}

.intro p {
  font-size: 1rem;
  align-content: center;
}

.intro {
  border-bottom: 3px solid #e2e2e2;
  border-top: 3px solid #e2e2e2;
  padding: 1rem;
  text-align: center;
  max-width: 30em;
  margin: 0 auto .5rem auto;
  text-align: center;
}

figure a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  color: #3783a3;
  padding: .5em 1em .6em;
  border: .2em solid #3783a3;
  border-radius: .3rem;
}

footer {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "col1";
  gap: 1rem;
  border-bottom: 3px solid #e2e2e2;
}
@media screen and (min-width: 38em) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "banner banner banner"
      "col1 col2 col3";
    }
    body {
      margin: 1rem;
    }
    header {
      display: flex;
      display: inline;
    }
    h1 {
      text-align: left;
    }
    h2 {
      text-align: left;
    }
    nav ul {
      display: flex;
      justify-content: center;
    }
    nav li {
      list-style-type: none;
      font-size: 1.125rem;
    }
    figure a {
      display: inline-block;
      background-color: transparent;
      text-decoration: none;
      color: #3783a3;
      padding: .5em 1em .6em;
      border: .2em solid #3783a3;
      border-radius: .3rem;
    }
    img {
      width: 100%;
    }

h3 {
  list-style-type: none;
  padding-top: 1rem;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  font-size: .8rem;
  grid-column: 2;
}
