html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 1.5rem;
}

.banner {
  grid-area: banner;
}

img {
  display: block;
  width: 100%;
}

header {
  grid-area: banner;
}

.banner {
  grid-area: banner;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.125rem;
}

nav {
  display: flex;
  grid-area: banner;
  grid-column: 3;
}

nav ul {
  align-items: flex-end;
}

nav li {
  display: flex;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  display: inline;
  padding: .5em 1em .6em;
  font-size: 1.125rem;
}

nav a {
  color: #3783a3;
}

article i {
  font-size: 2rem;
  align-content: center;
  grid-column: col2;
  padding: 1rem;
}

article p {
  font-size: 1rem;
  align-content: center;
  grid-column: col2;
}

article {
  border-bottom: 5px #e2e2e2;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1 col2 col3";
  gap: 1rem;
}

@media only screen and (min-width: 38em) {
  main { align-items: center; }

h3 {
  list-style-type: none;
}

figure {
  padding: 0;
  margin: 0;
}
